label
  if position == "top"
    i.arrow.top-arrow
  if position == "left"
    i.arrow.left-arrow
  if position == "right"
    i.arrow.right-arrow
  if position == "bottom"
    i.arrow.bottom-arrow  
  span.text= text