div
  h1 С чего начать?
  ul 
    a(href="#home/new_blanc_project")
      li Создать чистый проект
    a(href="#home/new_template_project")
      li Создать новый проект по шаблону
    a(href="#home/video")
      li Вводный скринкаст о работе с элементами анимации