div
  form
    h2 Название проекта
    input(type="text", name="name", value=name)
    h2 Формат экрана
    ul
      li
        label(for="4x3") 4:3
        if dim == "4x3"
          input(type="radio", name="dim", id="4x3", value="4x3", checked="true")
        else
          input(type="radio", name="dim", id="4x3", value="4x3")
      li
        label(for="3x4") 3:4
        if dim == "3x4"
          input(type="radio", name="dim", id="3x4", value="3x4", checked="true")
        else
          input(type="radio", name="dim", id="3x4", value="3x4")
      li
        label(for="16x9") 16:9
        if dim == "16x9"
          input(type="radio", name="dim", id="16x9", value="16x9", checked="true")
        else
          input(type="radio", name="dim", id="16x9", value="16x9")
      li
        label(for="9x16") 9x16
        if dim == "9x16"
          input(type="radio", name="dim", id="9x16", value="9x16", checked="true")
        else
          input(type="radio", name="dim", id="9x16", value="9x16")