div 
  ul.bind-menu
    a(href="#home/my_projects")
      li.bind-my Мои проекты
    a(href="#home/new_blanc_project")
      li.bind-blanc Новый пустой проект
    a(href="#home/new_template_project")
      li.bind-template Новый проект по шаблону   
div(id="content-home-project") 
