div.home_container.padding
  a.home_container-close(href="/#home/hello", title="Назад")
  div.home_container_menu 
    ul.bind-menu.home_menu
      li.bind-my.item_1.active 
        a(href="#home/my_projects", title="Мои проекты") Мои проекты
      li.bind-blanc.item_2
        a(href="#home/new_blanc_project", title="Новый проект") Новый проект
      li.bind-template.item_3    
        a(href="#home/new_template_project", title="Новый по шаблону") Новый по шаблону
    div.home_container_menu-video 
      iframe#video(src='//player.vimeo.com/video/80312270?api=1', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', width = "100%", allowfullscreen='true')
      span 
        | Вводный скринкаст о работе
        br
        | с элементами анимации 
      span.timer 00:17:26
        
  div(id="content-home-project") 

