doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    script(type="text/javascript")
      include ../../../node_modules/jquery/dist/jquery.min.js

    script(type="text/javascript")
      include ../../../dist/js/modules/d3.js

    link(rel="stylesheet", href=href)

  body(style={padding: 0, margin: 0, overflow: 'hidden'})
    svg


    script(type="text/javascript")
      | window.my_project = !{project};
      include ../../../dist/js/client.js
