@import '../variables.styl'

button
  background none
  border none
  outline none
  padding 0px

.btn
  background color_blue
  box-shadow inset 0px -2px 0px 0px #2D66A7
  border-radius 4px
  font-size 18px
  color #FFFFFF
  outline none!important
  border none
  transition 300ms all ease-in
        
  &:hover
        outline none!important
    color white
    opacity 0.7
    
  &:active
  &:focus
    outline none!important
    color white
    opacity 0.5
      
