@import '../variables.styl'

.btn
  background color_blue
  box-shadow inset 0px -2px 0px 0px #2D66A7
  border-radius 4px
  font-size 18px
  color #FFFFFF
  outline none
  border none
  transition 300ms all ease-in
        
    &:hover
      opacity 0.7