@font-face
   font-family GothaProLig
   font-style normal
   src url(fonts/GothaProLig.otf)

@font-face
   font-family GothaProBla
   font-style normal
   src url(fonts/GothaProBla.otf)

@font-face
   font-family GothaProBlaIta
   font-style normal
   src url(fonts/GothaProBlaIta.otf)

@font-face
   font-family GothaProBol
   font-style normal
   src url(fonts/GothaProBol.otf)

@font-face
   font-family GothaProBolIta
   font-style normal
   src url(fonts/GothaProBolIta.otf)

@font-face
   font-family GothaProIta
   font-style normal
   src url(fonts/GothaProIta.otf)
   
@font-face
   font-family GothaProLig
   font-style normal
   src url(fonts/GothaProLig.otf)

@font-face
   font-family GothaProLigIta
   font-style normal
   src url(fonts/GothaProLigIta.otf)
   
@font-face
   font-family GothaProMed
   font-style normal
   src url(fonts/GothaProMed.otf)
   
@font-face
   font-family GothaProMedIta
   font-style normal
   src url(fonts/GothaProMedIta.otf)

@font-face
   font-family GothaProReg
   font-style normal
   src url(fonts/GothaProReg.otf)
