@import '../variables.styl'

.home  
  &_container
    position relative
    margin 0 auto
    margin-top 160px
    padding 30px
    width 740px
    background #CED6DD
    box-shadow 0px 2px 4px 0px rgba(0,0,0,0.03)
    border-radius 6px
    min-height 365px
    overflow hidden
    
    &_project
      width 50%
      cursor normal
      
      & .image_item
        width 100%
        position relative
        height 152px
        text-align center
        
        & .image_size
          max-width 75%
          width auto
          margin 0 auto
          
          & .image_block
            border-radius 9px
            overflow hidden
            position relative
            
            & img
              max-height 120px
            
            & .add
            & .play
              position absolute
              bottom 10px
              opacity 0
              transition 300ms all ease-in

            & .play
              left 10px
              width 26px 
              height 28px
              background url(images/play.svg) no-repeat center 
            
            & .add
              right 10px
              width 24px 
              height 24px
              background url(images/add.svg) no-repeat center 
            
            & .opacity
              border-radius 9px
              position absolute
              left 0px
              top 0px
              width 100%
              height 100%
              background black
              opacity 0
              transition 300ms all ease-in
            
        
        & span
          color color_gray
          display block
          left 0px
          user-select none
          width 100%
          position absolute
          bottom 0px
          transition 300ms all ease-in
      
        &:hover
          & .image_size 
            & .image_block
              overflow hidden
              
              & .opacity
                opacity 0.5
              
              & .add
              & .play
                opacity 1

          & span
            color color_blue
                      
    &_right
      position relative
      float left
      width 445px
      padding-left 20px!important
      margin-bottom 0px
      overflow auto
      height: 414px
      // min-height 410px
      // max-height 414px
      
      &-input_header
        font-size 16px
        color color_gray
        position relative
        display block
      
      &-input_text
        position relative
        background transparent
        width 100%
        outline none
        border none
        display block
        box-shadow none
        height 38px
        font-size 18px
        border 2px solid #B1B8C0
        border-radius 4px
        padding-left 7px
        padding-right 7px
        color color_gray
        
      &-submit   
        width 200px
        height 52px
        position relative
        margin-left auto
        margin-right auto
        display block
        
      &-choose_size
        overflow hidden
        
        & li
          width 22%
          
          & + li
            margin-left 4% 
          
          & label
            width 100%
            cursor pointer
            transition 150ms all ease-in
            
            &:hover
              & div
                border-color #4F5963
                
                & span
                  color white
                  user-select none
                
            &.item_1
              & div
                background url(images/4.3.svg) no-repeat center 15px 
            
            &.item_2
              & div
                background url(images/3.4.svg) no-repeat center 10px 
                
            &.item_3
              & div
                background url(images/16.9.svg) no-repeat center 15px 
                
            &.item_4
              & div
                background url(images/9.16.svg) no-repeat center 10px 
                
            &.item_1:hover
              & div
                background #4F5963 url(images/4.3active.svg) no-repeat center 15px 
            
            &.item_2:hover
              & div
                background #4F5963 url(images/3.4active.svg) no-repeat center 10px 
                
            &.item_3:hover
              & div
                background #4F5963 url(images/16.9active.svg) no-repeat center 15px 
                
            &.item_4:hover
              & div
                background #4F5963 url(images/9.16active.svg) no-repeat center 10px 
            
            & div
              text-align center
              width 100%
              position relative
              height 78px
              border 2px solid #B1B8C0
              border-radius 4px
              transition 300ms all ease-in
              
              & span
                font-size 13px
                position absolute
                bottom 0px
                width 100%
                display block
                color color_gray_opacity
                transition 300ms all ease-in
                
        
          & input
            display none
            
            &:checked + label
              & div
                background #4F5963
                border-color #4F5963
                box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.10)
                
                & span
                  color white
                  
              &.item_1
                & div
                  background #4F5963 url(images/4.3active.svg) no-repeat center 15px 
              
              &.item_2
                & div
                  background #4F5963 url(images/3.4active.svg) no-repeat center 10px 
                  
              &.item_3
                & div
                  background #4F5963 url(images/16.9active.svg) no-repeat center 15px 
                  
              &.item_4
                & div
                  background #4F5963 url(images/9.16active.svg) no-repeat center 10px 
                  
      & form
        width 100%
    
    &.padding
      padding 25px
      margin-top 140px
      
      &_right
        padding-right 7px
      
    &-close
      position absolute
      right 13px
      top 8px
      width 30px
      user-select none
      transition 500ms all linear
      height 30px
      background url(images/close.svg) no-repeat center 
      
      &:hover
        transform rotate(180deg)
        opacity 0.7

    &_menu
      position relative
      float left
      width 240px
      border-right 2px solid rgba(165,173,181,0.60)
      
      &-video
        padding-right 25px
        text-align center
        margin-top 85px
        float left
        
        & span
          position relative
          margin-top 5px
          width 100%
          display block
          font-size 14px
          color color_grown
          line-height 18px
          text-align center 
          padding-bottom 7px
          
          &.timer
            padding-top 5px
            padding-bottom 2px
            padding-left 22px
            height 20px
            display inline
            position relative
            margin 0px auto
            width auto
            color color_gray_opacity
            background url(images/timer.svg) no-repeat left center
    
    & h1
      width 100%
      text-align center
      font-size 36px
      color color_grown
      padding 0px
      margin 0px
      margin-top 5px
      position relative
      display block
      padding-bottom 25px
      line-height 23px
      border-bottom 2px solid rgba(165,173,181,0.60)
      
    & ul
      padding-left 0px
      position relative
     
      & li
        list-style-type none
        float left
        cursor pointer
        
      &.home_menu
        width 100%
        
        & li
          height 50px
          width 100%
          transition 170ms all ease-in
          overflow hidden
          border-radius 6px 0px 0px 6px
          border 2px solid transparent
          
          & a
            padding-left 48px
            height 100%
            display block
          
          &.item_1
            & a
              background url(images/1item.svg) no-repeat 7px center 
            
          &.item_2
            & a
              background url(images/2item.svg) no-repeat 7px center 
          
          &.item_3
            & a
              background url(images/3item.svg) no-repeat 7px center 
          
          & a
            color color_gray_opacity_small
            font-size 16px
            line-height 50px
            
          &.active
          &:hover
            background color_gray
            border 2px solid transparent
            
            & a
              color white
              
            &.item_1
              & a
                background url(images/1itemactive.svg) no-repeat 7px center 
            
            &.item_2
              & a
                background url(images/2itemactive.svg) no-repeat 7px center 
            
            &.item_3
              & a
                background url(images/3itemactive.svg) no-repeat 7px center 
              
      &.choose_project
        margin-top 25px
        width 100%
        
        & li
          width 30%
          
          &.new_project 
            background url(images/newproject.svg) no-repeat center 10px
            
          &.template_project
            background url(images/newtemplate.svg) no-repeat center 10px
            
          &.new_project
          &.template_project
            transition 300ms all ease-in
            
            &:hover
              opacity 0.7
            
            
          &.template_video
            width 40%
            text-align center
            padding-left 4%
            
            & iframe
              width 100%
             
            & span
              position relative
              margin-top 5px
              width 100%
              display block
              font-size 14px
              color color_grown
              line-height 18px
              text-align center 
              padding-bottom 10px
              
              &.timer
                padding-top 5px
                padding-bottom 2px
                padding-left 22px
                height 20px
                display inline
                position relative
                margin 0px auto
                width auto
                color color_gray_opacity
                background url(images/timer.svg) no-repeat left center


          & a
            padding-top 140px
            display block
            width 100%
            
            & span
              width 100%
              display block
              color color_grown_opacity
              font-size 19px
              line-height 21px
              text-align center
          
          &.template_video
            width 40%