.mCSB_scrollTools
  .mCSB_draggerRail
    background-color transparent
  .mCSB_dragger
  .mCSB_dragger:hover
  .mCSB_dragger:active
  .mCSB_dragger:focus  
    .mCSB_dragger_bar
      background #B5BDC5!important
      opacity 0.8!important
      border-radius 60px
      width 5px
      transition 200ms all linear
      
      &:hover
      &:focus
      &:active
        background #B5BDC5!important
        opacity 1!important