.timeline
  bottom 0px
  width 100%
  left 71px
  width calc(100% - 71px - 281px)
  height 220px
  position absolute 
  background-image: linear-gradient(-180deg, #2B363F 0%, #202B33 73%);
  box-shadow: 0px -2px 14px 0px rgba(0,0,0,0.08);
  
  .mCSB_scrollTools.mCSB_scrollTools_horizontal
    left 5px
    right 5px
    
  &_time
    position: absolute;
    height: 30px;
    width: 2px;
    top: 5px;
    z-index: 5;
    background: red;

  &_scale
    height 30px
    width 100%
    white-space nowrap

    & ul
      padding-left 25px
      height 100%
      position relative
      white-space nowrap
      
      & li
        width 60px
        white-space: nowrap;
        position relative
        display inline-block
        text-align center
        
        &:before
          position absolute
          left 28px
          content ""
          height 4px
          width 4px
          display block
          z-index 4
          top 4px
          background white
          opacity 0.1
        
        & span
          margin-top 12px
          opacity: 0.3;
          display inline-block
          font-size: 10px;
          color: #FFFFFF;
  
  &_items
    height 190px
    position relative
    width 100%

  &_item
    background url(images/timeline/dots.svg) 6px center no-repeat 
    height 40px
    float left
    position relative
    clear both
    width 100%
     
    & img
      display block
      margin-top 7px
      width 26px
      height 26px
      float left
      opacity 0.6
      margin-left 18px
      
    & ul
      position relative
      margin-left 11px
      float left
      background white

      & li
        position absolute
        float left
        border-radius 9px
        top 11px
        height 18px
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.10), inset 0px 0px 3px 0px rgba(255,255,255,0.50);
        

        &.enter
          background-image: linear-gradient(-180deg, #FFC991 0%, #F6B26B 100%)
        
        &.process
          background-image: linear-gradient(-180deg, #BCD9FF 0%, #9FC5F8 100%)
          
        &.leave
          background-image: linear-gradient(-180deg, #B6D7A8 0%, #98C984 100%)

    &.active
      background rgba(20,30,36,0.80) url(images/timeline/dots_active.svg) 6px center no-repeat
      
      & img
        opacity 1
        
    &-keyframe
      position absolute
      top 17px
      width 6px
      height 6px
      border-radius 50%
      background-color red
      cursor pointer
      
      &.active
        background-color yellow

.ui
  &-state
    &-highlight
      height 40px
    
      
    

    

        
      