.workspace
  &-top_panel
    &-folder
      background url(images/header/header_triangle.svg) no-repeat center 
      width 81px
      height 100%
      float left
      box-shadow inset 1px 0px 0px 0px rgba(23,27,32,0.50)
      
    &-main
      float left
      margin-left 20px
      height 100%
      
      span
        opacity 0.2
        font-size 13px
        color #FFFFFF
        clear left
        display block

    &-name
      opacity 0.5
      font-size 18px
      color #FFFFFF
      display block
      padding-top 11px
      line-height 21px
      

    &-buttons
      float right
      padding-left 0px
      margin-bottom 0px
      height 100%
      
      & li
        float left
        height 100%
        box-shadow inset 1px 0px 0px 0px rgba(23,27,32,0.50)
        transition 300ms all ease-in
        
        &:hover
          opacity 0.8
        
        & button
          width 100%
          height 100%
          
      &-redo
      &-undo
        width 46px 
        
      &-redo
        box-shadow none!important
        background url("images/header/rotate_right.svg") no-repeat 8px center
       
      &-undo 
        background url("images/header/rotate_left.svg") no-repeat 22px center

      &-download
      &-preview
        width 60px
        background url(images/header/download.svg) no-repeat center
        
      &-saved
        width 100px
        background url("images/header/save.svg") no-repeat center 15px
        
        button
          padding-top 25px
          opacity 0.5
          font-size 12px
          color #FFFFFF
          
      &-preview
        background url(images/header/eye.svg) no-repeat center
        
  &-left_panel
    background-image linear-gradient(-90deg, #303C45 52%, #36414A 100%)
    box-shadow 2px 0px 14px 0px rgba(0,0,0,0.20)
    width 70px
    left 0px
    top 60px
    bottom 0px
    position fixed 
    overflow hidden 
    
    &-top_list
    &-bottom_list
      float left
      width 100%
      padding-left 0px
      margin-bottom 0px
      
      &-add
        background url(images/leftpart/add.svg) no-repeat center  
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/add_active.svg) no-repeat center  
            
      &-show
        background url(images/leftpart/slydes.svg) no-repeat center 
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/slydes_active.svg) no-repeat center  
      
      & li
        width 70px
        height 70px
        transition 200ms all ease-in
        box-shadow inset 0px -1px 0px 0px #283037
        
        &:first-child
          box-shadow inset 0px 1px 0px 0px #1B2329, inset 0px -1px 0px 0px #283037
        
        button
          width 100%
          height 100%
          
        &.active
        &:hover
          background-color #29333A
          box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037

    &-bottom_list
      position absolute
      bottom 0px
      
      &:first-child
        box-shadow inset 0px 1px 0px 0px #1B2329, inset 0px -1px 0px 0px #283037
        
      &-mod
        height 35px!important
        box-shadow none!important
        
        &.active
        &:hover
        &:active
          box-shadow none!important
          background-color transparent!important
        
        label
          height 100%
          width 50%
          cursor pointer
          box-shadow inset 0px 1px 0px 0px #1B2329, inset 0px -1px 0px 0px #283037
        
          &.active
          &:hover
          &:active
            background-color #29333A
            box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037
        
        & input
          visibility hidden
          width 50%
          height 100%
          position absolute
        
          &:checked + label
            background-color #29333A
            box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037
          
            &.workspace-left_panel-bottom_list-mod_drag
              background url(images/leftpart/hand_active.svg) no-repeat center 
            
            &.workspace-left_panel-bottom_list-mod_click
              background url(images/leftpart/cursor_active.svg) no-repeat center


        &_drag
          background url(images/leftpart/hand.svg) no-repeat center 
          
          &:hover
          &:active
            background url(images/leftpart/hand_active.svg) no-repeat center 
          
        &_click 
          background url(images/leftpart/cursor.svg) no-repeat center 
          
          &:hover
          &:active
            background url(images/leftpart/cursor_active.svg) no-repeat center 


      &-timeline
        background url(images/leftpart/timeline.svg) no-repeat center 
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/timeline_active.svg) no-repeat center 
      
      &-help
        background url(images/leftpart/question.svg) no-repeat center 
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/question_active.svg) no-repeat center 
          
  &-center_panel
    position absolute
    top 125px
    left 120px
    right 335px
    
    &-settings
      width 100%
      overflow hidden
      padding-bottom 20px

      &-number
        opacity 0.3
        font-size 14px
        color #FFFFFF

      &-name
        padding-left 6px
        opacity 0.5
        font-size 14px
        color #FFFFFF

      h1
        display block
        float left
        padding 0px
        margin 0px
        line-height 20px
        
      button
        float right
        width 20px
        height 20px
        background url(images/centerpart/settings.svg) no-repeat center
        transition 200ms all ease-in
        
        &:hover
          opacity 0.7

    svg
      background white

  &-right_panel
    top 60px
    bottom 0px
    right 0px
    position absolute
    background-image linear-gradient(-90deg, #303C45 52%, #36414A 100%)
    box-shadow 2px 0px 14px 0px rgba(0,0,0,0.20)
    width 280px
    padding-left 15px
    padding-right 15px
    
    &-slydes
      h2
        background url(images/rightpart/slydes/slydes.svg) no-repeat 8px center
        

    &-header
      margin-left -15px
      margin-right -15px
      height 30px
      background-color rgba(77,87,93,0.40)
      box-shadow 0px 2px 4px 0px rgba(0,0,0,0.03)
      
      h2
        line-height 34px
        height 30px
        padding 0px
        padding-left 32px
        margin 0px
        font-size 13px
        display block
        float left
        color color_white
    
    &-settings
      background url(images/rightpart/settings.svg) no-repeat center
      width 14px
      height 14px
      display block
      float right
      margin-right 8px
      margin-top 8px
      cursor pointer
      transition 200ms all ease-in
      
      &:hover
      &:active
        opacity 0.7

          

        
