li.home_container_project
  div.marginbottom_20.margintop_10.image_item
    div.image_size
      div.image_block
        img.img-responsive(src="static/images/demo/layout_images.jpg", alt="image_header_01.png")
        div.opacity
        button.ok
        button.edit
        button.delete  
    h3.load_myimages_header image_header_01.png
    h4.load_myimages_size 1600x1200, 4.2 Мб