extends ../layout.jade
block load_container
  div.home_container_menu 
    ul.bind-menu.home_menu
      li.bind-blanc.item_4
        a(href="#", title="Мои изображения") Мои изображения
      li.bind-template.item_5    
        a(href="#", title="Импорт из сети") Импорт из сети
    div.load_button.btn Загрузить с диска

  div.home_container_right.scroll
    block load_block

