extends layout.jade
block load_block
  input.load-input.loop(type="text")
  .scroll.mcsb-behavior.load_list
    ul.home_container_project_list
      include layout_images.jade
      include layout_images.jade
      include layout_images.jade
      include layout_images.jade
      include layout_images.jade
      include layout_images.jade
      include layout_images.jade




