.workspace-right_panel-project 
  .workspace-right_panel-header
    h2 Проект
    buttom.workspace-right_panel-settings.rotate_1080deg
  .workspace-right_panel-container 
    .workspace-right_panel-container-input_block
      label Название проекта
      input.bind-slide_name(type="text", value=name)
    .workspace-right_panel-container_big
      h3 Формат
      .workspace-right_panel-container-radio_format
        .row_line
          input(type="radio", name="format", id = "43")
          label.item_1(for="43")
            span 4:3        
          input(type="radio", name="format", id = "34")
          label.item_2(for="34")
            span 3:4
        .row_line   
          input(type="radio", name="format", id = "169")
          label.item_3(for="169")
            span 16:9 
          input(type="radio", name="format", id = "916")
          label.item_4(for="916")
            span 9:16   

    .workspace-right_panel-container_big
      h3 Звук
      .workspace-right_panel-container-checkbox_block
        input(type="checkbox", name="repeat", id = "norepeatvoice")
        label.margintop_7(for="norepeatvoice")
        label(for="norepeatvoice") 
          | Не воспроизводить звук из 
          br
          | вставленных видео      
    .workspace-right_panel-container_big
      h3 Повтор
      .workspace-right_panel-container-radio_block
        input(type="radio", name="repeat", id = "norepeat")
        label(for="norepeat")
        label(for="norepeat") Не повторять

      .workspace-right_panel-container-radio_block
        input(type="radio", name="repeat", id = "repeatcycle")
        label(for="repeatcycle")
        label(for="repeatcycle") Повторять циклично

      .workspace-right_panel-container-radio_block
        .half
          input(type="radio", name="repeat", id = "repeat")
          label(for="repeat")
          label(for="repeat") Повторить
        .half
          //- этому инпуту дай класс disabled и атрибут disabled
          input.width50.margintop_-5(type="text")
          span раз     