.slides
  
  &_button
    width 200px
    height 175px

  &_item
    width 100%!important
    height auto!important
    box-shadow none!important

  &_list
    width 100%
    
    & li
      width 100%!important
      height 175px!important
      box-shadow none!important
      background transparent
      
      &:hover
        background rgba(26,35,42,0.30)
        box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.20), inset 0px 1px 0px 0px rgba(0,0,0,0.20)!important