button.bind-show
ul.slides
  li.slides_item
    ul.slides_list
      li
        .slides_list_images
          img(src="", alt="")
          button.slides_list_settings
        .slides_list_text
          span.slides_list_slide
            span.slides_list_number 1.
            | Тестовый слайд тест на длину еще раз на длину
          span.slides_list_time 00:30
      li
        .slides_list_images
          img(src="", alt="")
          button.slides_list_settings
        .slides_list_text
          span.slides_list_slide
            span.slides_list_number 2.
            | Тестовый слайд тест на длину еще раз на длину
          span.slides_list_time 00:30
  li.slides_item
    button.slides_button
      span.slides_add
