button.bind-show
ul.slides
  li.slides_item
    ul.slides_list
      li
        .slides_list_images
          a(href="", title="Название слайда")
          img.img-responsive(src="static/images/demo/layout_images.jpg", alt="Название слайда")
          button.slides_list_settings
            span.rotate_1080deg
        .slides_list_text
          span.slides_list_text_time 00:30
          span.slides_list_text_slide
            span.slides_list_text_number 1.
            a(href="", title="Название слайда") Тестовый слайд тест на длину еще раз на длину
         
      li
        .slides_list_images
          a(href="", title="Название слайда")
          img.img-responsive(src="static/images/demo/layout_images.jpg", alt="Название слайда")
          button.slides_list_settings
            span.rotate_1080deg
        .slides_list_text
          span.slides_list_text_time 00:30
          span.slides_list_text_slide
            span.slides_list_text_number 2.
            a(href="", title="Название слайда") Тестовый слайд тест на длину еще раз на длину
          
  li.slides_item
    button.slides_button
      span.slides_button_add
