.workspace
  &-left_panel
    background-image linear-gradient(-90deg, #303C45 52%, #36414A 100%)
    box-shadow 2px 0px 14px 0px rgba(0,0,0,0.20)
    width 70px
    left 0px
    top 60px
    z-index 15
    bottom 0px
    position fixed 
    
    &-top_list
      top 0px
      height 100%
      
    &-top_list
    &-bottom_list
      float left
      width 100%      
      position absolute
      left 0px

      padding-left 0px
      margin-bottom 0px
      
      &-add_list
        z-index -1
        opacity 0
        transition 300ms all ease-in
        position absolute
        top 1px
        overflow hidden
        width 0px
        height 100%
        padding-left 0px
        margin-bottom 0px
        left 70px
        background-image: linear-gradient(-90deg,#303c45 52%,#36414a 100%);
        box-shadow 2px 0 14px 0 rgba(0,0,0,0.2);
        transition 200ms opacity ease-in
        
        & li
          width 100%!important
          border none
          height auto!important
          box-shadow none!important
          background transparent!important
          
          &:hover
          &:active
            box-shadow none!important
            background none!important

          
          &:first-child
            
            & ul
              & li:not(.workspace-left_panel-top_list-add_list_header):last-child
                width 121px!important
                border-right 1px solid #283038
                box-shadow inset 1px 0 0 0 #283038!important
                
                &:hover
                &:active
                  background-color #29333A!important
                  box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037!important
     
              
          &:last-child
            & ul
              & li.workspace-left_panel-top_list-add_list_header
                border-top 1px solid #283038
                
          & li
            float left
            
            &.workspace-left_panel-top_list-add_list_text
              background url(images/leftpart/additem/text.svg) no-repeat center 33px!important
              
              &:hover
                background url(images/leftpart/additem/text.svg) no-repeat center 33px!important
            
            &.workspace-left_panel-top_list-add_list_paragraph
              background url(images/leftpart/additem/paragraph.svg) no-repeat center 34px!important
              
              &:hover
                background url(images/leftpart/additem/paragraph.svg) no-repeat center 34px!important
            &.workspace-left_panel-top_list-add_list_graph
              background url(images/leftpart/additem/graphics.svg) no-repeat center 28px!important
              
              &:hover
                background url(images/leftpart/additem/graphics.svg) no-repeat center 28px!important
            
            &.workspace-left_panel-top_list-add_list_video
              background url(images/leftpart/additem/video.svg) no-repeat center 28px!important
              
              &:hover
                background url(images/leftpart/additem/video.svg) no-repeat center 28px!important
            
            &.workspace-left_panel-top_list-add_list_figures
              background url(images/leftpart/additem/figure.svg) no-repeat center 20px!important
              
              &:hover
                background url(images/leftpart/additem/figure.svg) no-repeat center 20px!important              
            
            &.workspace-left_panel-top_list-add_list_news
              background url(images/leftpart/additem/news.svg) no-repeat center 28px!important
              
              &:hover
                background url(images/leftpart/additem/news.svg) no-repeat center 28px!important            
            
            &.workspace-left_panel-top_list-add_list_time
              background url(images/leftpart/additem/time.svg) no-repeat center 26px!important
              
              &:hover
                background url(images/leftpart/additem/time.svg) no-repeat center 26px!important  
                          
            &.workspace-left_panel-top_list-add_list_weather
              background url(images/leftpart/additem/weather.svg) no-repeat center 31px!important
              
              &:hover
                background url(images/leftpart/additem/weather.svg) no-repeat center 31px!important            
            &.workspace-left_panel-top_list-add_list_date
              background url(images/leftpart/additem/date.svg) no-repeat center 28px!important
              
              &:hover
                background url(images/leftpart/additem/date.svg) no-repeat center 28px!important


            
            &:not(.workspace-left_panel-top_list-add_list_header)
              height 120px!important
              width 50%!important
              box-shadow inset 0px -1px 0px 0px #283037, inset 1px 0px 0px 0px #283037!important
                
              &:hover
              &:active
                background-color #29333A!important
                box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037!important


            & button
              color color_white
              padding-top 50px
              transition 200ms all ease-in
            
            &.workspace-left_panel-top_list-add_list_header
              width 100%!important
              line-height 30px
              padding-left 7px!important
              padding-right 7px!important
              height 30px
              background-color rgba(77,87,93,0.4)!important
              box-shadow 0 2px 4px 0 rgba(0,0,0,0.03), inset 1px 0px 0px 0px #283037!important
              
              & h2
                color color_white
                font-size 13px
                text-transform uppercase
                height 30px
                line-height 33px
      
      &-add
        background url(images/leftpart/add.svg) no-repeat center  
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/add_active.svg) no-repeat center  
            
      &-show
        background url(images/leftpart/slydes.svg) no-repeat center 
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/slydes_active.svg) no-repeat center  
      
      & li
        width 70px
        height 70px
        transition 200ms all ease-in
        box-shadow inset 0px -1px 0px 0px #283037
        
        &:first-child
          box-shadow inset 0px 1px 0px 0px #1B2329, inset 0px -1px 0px 0px #283037
        
        button
          width 100%
          height 100%
          
        &.active
        &:hover
          background-color #29333A
          box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037

          & ul
            opacity 1!important
            z-index 15
            width 240px
            max-width 240px!important

    &-bottom_list
      position absolute
      bottom 0px
      top 
      
      &:first-child
        box-shadow inset 0px 1px 0px 0px #1B2329, inset 0px -1px 0px 0px #283037
        
      &-mod
        height 35px!important
        box-shadow none!important
        
        &.active
        &:hover
        &:active
          box-shadow none!important
          background-color transparent!important
        
        label
          height 100%
          width 50%
          cursor pointer
          box-shadow inset 0px 1px 0px 0px #1B2329, inset 0px -1px 0px 0px #283037
        
          &.active
          &:hover
          &:active
            background-color #29333A
            box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037
        
        & input
          visibility hidden
          width 50%
          height 100%
          position absolute
        
          &:checked + label
            background-color #29333A
            box-shadow 1px 0px 0px 0px #1A2329, inset 0px 1px 0px 0px #1A2329, inset 0px 1px 20px 0px #18242C, inset 0px 1px 0px 0px #283037
          
            &.workspace-left_panel-bottom_list-mod_drag
              background url(images/leftpart/hand_active.svg) no-repeat center 
            
            &.workspace-left_panel-bottom_list-mod_click
              background url(images/leftpart/cursor_active.svg) no-repeat center


        &_drag
          background url(images/leftpart/hand.svg) no-repeat center 
          
          &:hover
          &:active
            background url(images/leftpart/hand_active.svg) no-repeat center 
          
        &_click 
          background url(images/leftpart/cursor.svg) no-repeat center 
          
          &:hover
          &:active
            background url(images/leftpart/cursor_active.svg) no-repeat center 


      &-timeline
        background url(images/leftpart/timeline.svg) no-repeat center 
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/timeline_active.svg) no-repeat center 
      
      &-help
        background url(images/leftpart/question.svg) no-repeat center 
        
        &.active
        &:hover
        &:active
          background url(images/leftpart/question_active.svg) no-repeat center 