.load
  position fixed
  top 0px
  left 0px
  height 100%
  z-index 100
  width 100%

  &_opacity
    position absolute
    background rgba(17,22,27,0.70)
    top 0px
    left 0px
    width 100%
    height 100%
    z-index 150 
      & + div
        z-index 200