.workspace-right_panel-container_big
  h3 Вход

  div(id="animations_enter")


//- .workspace-right_panel-container_big
//-   h3 Анимации

//-   div(id="animations_process")


.workspace-right_panel-container_big
  h3 Выход

  div(id="animations_leave")