.workspace-right_panel-graphics
  .workspace-right_panel-header
    h2 Графика
    buttom.workspace-right_panel-settings
  form.workspace-right_panel-container.scroll.mcsb-behavior.pd-submit-behavior

    .floatleft.width100
      .workspace-right_panel-container-size_block.margintop_10
        .width50_percent.hor
          input.bind-props(type="text", bind-to="width", value=keyframes[keyframe()].props.width, parse-float)
          span px
        .width50_percent.ver
          input.bind-props(type="text", bind-to="height", value=keyframes[keyframe()].props.height, parse-float)
          span px

    .workspace-right_panel-container-position
      
      if position == "1"
        input(type="radio", name="position", id = "1", checked="checked")
      else
        input(type="radio", name="position", id = "1")
      label.item1(for="1")

      if position == "2"
        input(type="radio", name="position", id = "2", checked="checked")
      else
        input(type="radio", name="position", id = "2")
      label.item2(for="2")

      if position == "3"
        input(type="radio", name="position", id = "3", checked="checked")
      else
        input(type="radio", name="position", id = "3")
      label.item3(for="3")

      if position == "4"
        input(type="radio", name="position", id = "4", checked="checked")
      else
        input(type="radio", name="position", id = "4")
      label.item4(for="4")

    .floatleft.width100.margintop10
      .workspace-right_panel-container-size_block
        .width50_percent.position
          label X
          - console.log(keyframes, keyframe())
          input.bind-props(type="text", bind-to="x", value=keyframes[keyframe()].props.x, parse-float)
          span px
        .width50_percent.position.y
          label Y
          input.bind-props(type="text", bind-to="y", value=keyframes[keyframe()].props.y, parse-float)
          span px


    .workspace-right_panel-container_big
      h3 Фаил
      button.workspace-right_panel_add.file.loading.bind-image-loading


    include ./_animations.jade