.workspace-right_panel-slydes 
  .workspace-right_panel-header
    h2 Слайд
    buttom.workspace-right_panel-settings
  form.workspace-right_panel-container.mcsb-behavior.pd-submit-behavior
    .workspace-right_panel-container-input_block.with_eye
      label Название слайда
      input.bind(type="text", value=name, bind-to="name")
    .floatleft.width100
      //- .workspace-right_panel-container-select_block.fourth
      //-   label Порядок
      //-   select.bind-slide_duration
      //-     option(value="1") 1
      //-     option(value="2",selected="selected") 2
      //-     option(value="3") 3

      .workspace-right_panel-container-color_picker
        label Фон
        .set_color_div.set_color(data-valueelement = "set_slide_input", data-styleelement="set_slide_button")
          button#set_slide_button.set_color_button
          input#set_slide_input.set_color_input(value="#" + background, bind-to="background")

    .workspace-right_panel-container_big
      h3 Повтор
      .workspace-right_panel-container-radio_block
        if repeat == 'no-repeat'
          input.bind(type="radio", bind-to="repeat", name="repeat", id = "no-repeat", checked, value="no-repeat")
        else
          input.bind(type="radio", bind-to="repeat", name="repeat", id = "no-repeat", value="no-repeat")
        label(for="no-repeat")
        label(for="no-repeat") Не повторять

      .workspace-right_panel-container-radio_block
        .half
          if repeat == 'repeat'
            input.bind(type="radio", bind-to="repeat", name="repeat", id = "repeat", checked, value="repeat")
          else
            input.bind(type="radio", bind-to="repeat", name="repeat", id = "repeat", value="repeat")
          label(for="repeat")
          label(for="repeat") Повторить
        .half
          //- этому инпуту дай класс disabled и атрибут disabled
          if repeat == 'repeat'
            input.width50.margintop_-5.bind(type="text", name="repeatNum", bind-to="repeatNum", parse-int, value=repeatNum)
          else
            input.width50.margintop_-5.disabled(type="text", disabled)
          span раз 

    .workspace-right_panel-container_big
      h3 Вход

      div(id="animations_enter")


    .workspace-right_panel-container_big
      h3 Выход

      div(id="animations_leave")