.workspace-right_panel-slydes 
  .workspace-right_panel-header
    h2 Слайд
    buttom.workspace-right_panel-settings
  form.workspace-right_panel-container.mcsb-behavior.pd-submit-behavior
    .workspace-right_panel-container-input_block.with_eye
      label Название слайда
      input.bind-slide_name(type="text", value=name)


    div
      .workspace-right_panel-container-select_block.fourth
        label Порядок
        select.bind-slide_duration
          option(value="1") 1
          option(value="2",selected="selected") 2
          option(value="3") 3

      .workspace-right_panel-container-color_picker
        div.set_color_div
          button#set_slide_button.set_color_button.set_color(data-valueelement = "set_slide_input", data-styleelement="set_slide_button")

          input#set_slide_input.set_color_input(value="#fff")


    .workspace-right_panel-container_big
      h3 Повтор
      .workspace-right_panel-container-radio_block
        input(type="radio", name="repeat", id = "norepeat")
        label(for="norepeat")
        label(for="norepeat") Не повторять
      .workspace-right_panel-container-radio_block
        .half
          input(type="radio", name="repeat", id = "repeat")
          label(for="repeat")
          label(for="repeat") Повторить
        .half
          input.width50.margintop_-5(type="text")
          span раз

    .workspace-right_panel-container_big
      h3 Вход

      .workspace-right_panel-container_row_time
        span 00:00:000 – 00:00:50
        button.rotate_1080deg

      .workspace-right_panel-container-select_block.margintop_5
        select
          option(value="1", selected="selected") Из непрозрачного в прозрачный

      .workspace-right_panel-container-block.margintop_15
        select
          option(selected="selected") Ease In/Out
      .workspace-right_panel-container-block_plus
        input.time(type="text", value="500")
        button.plus
        button.minus          
        button.workspace-right_panel_add

    .workspace-right_panel-container_big
      h3 Выход
      button.workspace-right_panel_add