.workspace-right_panel-project 
  .workspace-right_panel-header
    h2 Текст
    buttom.workspace-right_panel-settings
  .workspace-right_panel-container 
    .workspace-right_panel-container-select_block.margintop_5
      select
        option(value="", selected="selected") Helvetica

