import_tree('./mixins')
import_tree('./components')
import_tree('./components/workspace')
import_tree('./media')

@import 'variables.styl'

/* Global styles*/

a
  transition 300ms all ease-in
  
  &:hover
  &:focus
  &:visited
    text-decoration none

ul
  padding 0px
  margin 0px
  
  li
    list-style-type none

h1
h2
h3
h4
h5
h6
  padding 0px
  margin 0px
  outline none

html
  margin 0
  padding 0


body
  margin 0
  padding 0
  font-family GothaProReg, sans-serif
  background #1B232A

.half
  width 50%
  float left
 
  & + .half
    padding-left 15px

.margin
  &top
    &_5
      margin-top 5px 
     
    &_7
      margin-top 7px!important  

    &_10
      margin-top 10px 

    &_15
      margin-top 10px 
          
    &_20
      margin-top 20px
      
    &_120
      margin-top 120px  
    &_140
      margin-top 140px
      
    &_-5
      margin-top -5px  

  &bottom
    &_20
      margin-bottom 20px

.width
  &50
    width 50px!important
  &100
    width 100%!important
    
.float
  &left
    float left
    
    & > div
      float left
      
      & + div
        margin-left 12px    


.rotate
  
  &_1080deg
    transition 1500ms transform linear!important
    
    &:hover
    &:active
      transform rotate(360deg)
      

       


