import_tree('./mixins')
import_tree('./components')
import_tree('./components/workspace')
import_tree('./media')

@import 'variables.styl'

/* Global styles*/

a
  transition 300ms all ease-in
  
  &:hover
  &:focus
  &:visited
    text-decoration none

ul
  padding 0px
  margin 0px
  
  li
    list-style-type none

h1
h2
h3
h4
h5
h6
  padding 0px
  margin 0px
  outline none

html
  margin 0
  padding 0


body
  margin 0
  padding 0
  font-family GothaProReg, sans-serif
  background #1B232A


.margin
  &top
    &_5
      margin-top 5px     
    &_20
      margin-top 20px
      
    &_120
      margin-top 120px  
    &_140
      margin-top 140px  

  &bottom
    &_20
      margin-bottom 20px


.rotate
  &_1080deg
    transition 1500ms transform linear!important
    
    &:hover
    &:active
      transform rotate(360deg)
      

       


