/*Global params*/

vendors = official

/*COLORS*/

color_grown = #1B232A
color_grown_opacity = rgba(27,35,42, 0.8)

color_gray = #4F5963
color_gray_opacity = rgba(79,89,99, 0.5)
color_gray_opacity_small = rgba(79,89,99, 0.69)

color_blue = #3A7CC8