.workspace-right_panel-container_row_time
  - var _start = Math.floor(start / 10)
  - var _end   = Math.floor(duration / 10) + _start
  - var start_minutes = Math.floor(_start / 60)
  - var start_seconds = _start % 60
  - var end_minutes   = Math.floor(_end / 60)
  - var end_seconds   = _end % 60
  - start_seconds = (start_seconds < 10 ? "0" + start_seconds : start_seconds)
  - start_minutes = (start_minutes < 10 ? "0" + start_minutes : start_minutes)
  - end_seconds = (end_seconds < 10 ? "0" + end_seconds : end_seconds)
  - end_minutes = (end_minutes < 10 ? "0" + end_minutes : end_minutes)
  span= start_minutes + ":" + start_seconds + " – " + end_minutes + ":" + end_seconds
  button.rotate_1080deg

.workspace-right_panel-container-select_block.margintop_5
  select
    if link == 'enter'
      if type == 'fadeIn'
        option(value="fadeIn", selected) Из непрозрачного в прозрачный
      else
        option(value="fadeIn") Из непрозрачного в прозрачный
        
    if link == 'process'
      if type == 'rotate'
        option(value="rotate", selected) Поворот (по часовой)
      else
        option(value="rotate") Поворот (по часовой)
      if type == 'antirotate'
        option(value="rotate", selected) Поворот (против часовой)
      else
        option(value="antirotate") Поворот (против часовой)
      if type == 'pulsar'
        option(value="pulsar", selected) Пульсация
      else
        option(value="pulsar") Пульсация      

    if link == 'leave'
      if type == 'fadeOut'
        option(value="fadeOut", selected) Из прозрачного в непрозрачный
      else
        option(value="fadeOut") Из прозрачного в непрозрачный

.workspace-right_panel-container-block.margintop_15
  select
    option(selected="selected") Ease In/Out
.workspace-right_panel-container-block_plus
  input.time.bind-duration(type="text", value=duration)
  button.plus
  button.minus

div(style="clear:both;")