//- .workspace-right_panel-container_row_time
//-   - var _start = Math.floor(start / 10)
//-   - var _end   = Math.floor(duration / 10) + _start
//-   - var start_minutes = Math.floor(_start / 60)
//-   - var start_seconds = _start % 60
//-   - var end_minutes   = Math.floor(_end / 60)
//-   - var end_seconds   = _end % 60
//-   - start_seconds = (start_seconds < 10 ? "0" + start_seconds : start_seconds)
//-   - start_minutes = (start_minutes < 10 ? "0" + start_minutes : start_minutes)
//-   - end_seconds = (end_seconds < 10 ? "0" + end_seconds : end_seconds)
//-   - end_minutes = (end_minutes < 10 ? "0" + end_minutes : end_minutes)
//-   span= start_minutes + ":" + start_seconds + " – " + end_minutes + ":" + end_seconds
//-   button.rotate_1080deg

.workspace-right_panel-container-select_block.margintop_5
  select.bind-type
    if type == 'none'
      option(value="none", selected) Никакой
    else
      option(value="none") Никакой  

    if link == 'enter'
      if type == 'fadeIn'
        option(value="fadeIn", selected) Из непрозрачного в прозрачный
      else
        option(value="fadeIn") Из непрозрачного в прозрачный
      if type == 'sft'
        option(value="sft", selected) Появление сверху 
      else
        option(value="sft") Появление сверху 
      if type == 'sfb'
        option(value="sfb", selected) Появление снизу 
      else
        option(value="sfb") Появление снизу 
      if type == 'sfl'
        option(value="sfl", selected) Появление слева 
      else
        option(value="sfl") Появление слева 
      if type == 'sfr'
        option(value="sfr", selected) Появление справа 
      else
        option(value="sfr") Появление справа
      if type == 'lft'
        option(value="lft", selected) Вылет сверху 
      else
        option(value="lft") Вылет сверху 
      if type == 'lfb'
        option(value="lfb", selected) Вылет снизу 
      else
        option(value="lfb") Вылет снизу 
      if type == 'lfl'
        option(value="lfl", selected) Вылет слева 
      else
        option(value="lfl") Вылет слева 
      if type == 'lfr'
        option(value="lfr", selected) Вылет справа 
      else
        option(value="lfr") Вылет справа

    if link == 'leave'
      if type == 'fadeOut'
        option(value="fadeOut", selected) Из прозрачного в непрозрачный
      else
        option(value="fadeOut") Из прозрачного в непрозрачный

if type != 'none'
  .workspace-right_panel-container-block.margintop_15
    select.bind-effect
      if effect == 'ease'
        option(value="ease", selected="selected") Ease
      else
        option(value="ease") Ease
      if effect == 'ease-in'
        option(value="ease-in", selected="selected") Ease In
      else
        option(value="ease-in") Ease In
      if effect == 'ease-out'
        option(value="ease-out", selected="selected") Ease Out
      else
        option(value="ease-out") Ease Out
      if effect == 'ease-in-out'
        option(value="ease-in-out", selected="selected") Ease In & Out
      else
        option(value="ease-in-out") Ease In & Out
      if effect == 'linear'
        option(value="linear", selected="selected") Linear
      else
        option(value="linear") Linear
  .workspace-right_panel-container-block_plus
    input.time.bind-duration(type="text", value=duration)
    button.plus
    button.minus

div(style="clear:both;")