.workspace-center_panel
  .workspace-center_panel-settings
    h1
      //- Номер слайда
      //- к нему "." прибавь
      span.workspace-center_panel-settings-number= id+1 + '.'

      //- Название слайда
      span.workspace-center_panel-settings-name= name

    //- Вызов настроек слайда (текущее справа)
    button.bind-slide-select.workspace-center_panel-settings-setting.rotate_1080deg

  //- По нему
  //- В дизайне в варианте 16:9 - тут просто width 100%
  //- в варианте 4:3
  //- 

  if dim == '4x3'
    svg(width="640px", height="480px", style="background: #" + background + ";")
      style(type="text/css"): include transition.css
  if dim == '3x4'
    svg(width="480px", height="640px", style="background: #" + background + ";")
      style(type="text/css"): include transition.css
  if dim == '16x9'
    svg(width="640px", height="360px", style="background: #" + background + ";")
      style(type="text/css"): include transition.css
  if dim == '9x16'
    svg(width="360px", height="640px", style="background: #" + background + ";")
      style(type="text/css"): include transition.css




  //-Таймлайн
div(id="timeline")