.workspace-center_panel
  .workspace-center_panel-settings
    h1
      //- Номер слайда
      //- к нему "." прибавь
      span.workspace-center_panel-settings-number= id+1 + '.'

      //- Название слайда
      span.workspace-center_panel-settings-name= name

    //- Вызов настроек слайда (текущее справа)
    button.bind-slide-select.workspace-center_panel-settings-setting.rotate_1080deg

  //- По нему
  //- В дизайне в варианте 16:9 - тут просто width 100%
  //- в варианте 4:3
  //- 

  svg(width="100%", height=height)