div(id="content-top_panel")
div(id="content-left_panel")
    
div(id="content-right_panel")


div(id="content-canvas")

div(id="content-bottom_panel")

div(id="popup")

//- include ../load_files/basical/myimages.jade