//-Меняй вот этот класс



//-.workspace-right_panel-news - новость
//-.workspace-right_panel-date - дата
//-.workspace-right_panel-text - текст
//-.workspace-right_panel-video - видео
//-.workspace-right_panel-weather - погода
//-.workspace-right_panel-photo - фото


//- проект



//- слайд
if selection_type === 'slide'


else if selection_type === 'element'
  each val, index in props
    .workspace-right_panel-container-input_block
      label= getLabelText(index)
      if index === 'texts'
        textarea(name="bind-element_texts")= val
      else
        input(type="text", value=val, name="bind-element_"+index)        