img(src="static/images/demo/layout_images.jpg")
ul
  span.timeline-time
  for animation, i in animations
    - var offset = 2*i + animation.start * 0.12
    - var dur    = 2 + animation.duration * 0.12
    - var dataAnimation = JSON.stringify(animation)
    li(
      style='left: ' + offset + 'px; width: ' + dur + 'px', 
      data-animation=dataAnimation
    )