div.workspace-top_panel-folder
div.workspace-top_panel-main
  if isNameChange()
    input.bind-name_change(type="text", value=name, autofocus)
  else
    h2.bind-name= name
  span= slides.length + " " + getSlidesPostfix(slides.length)
ul.workspace-top_panel-buttons
  li.workspace-top_panel-buttons-preview.bind-preview
  li.workspace-top_panel-buttons-saved.bind-status
  li.workspace-top_panel-buttons-undo.bind-undo
  li.workspace-top_panel-buttons-redo.bind-redo
  li.workspace-top_panel-buttons-download.bind-download